<div class="container">
  <div class="jumbotron">
    <h1>InstaClone Photo Sharing</h1>
    <p class="lead">Love taking photos? We sure do.</p>
    <p>Sign up for a free account today and start enjoying the best shots from everyone in the InstaClone community. Share your favorite photographs with us. </p>
    <p>You can keep track of your favorite photos on the site as well as follow our most talented members.</p>
    <p>We look forward to viewing your finest work.</p><br />
    <p class="centered-btns">
        <a class="btn btn-lg btn-success" routerLink="/signup" role="button">Signup</a>
        <a class="btn btn-lg btn-primary" routerLink="/login" role="button">Login</a>
      </p>
  </div>
</div>